<p>buy-card works!</p>

<!-- הוספת כרטיס טיסה -->
<div>
    <input type="text" [(ngModel)]="passengerName" placeholder="passenger name" #name/>
    <input type="text" [(ngModel)]="source" placeholder="source" #source/>
    <input type="text" [(ngModel)]="goul" placeholder="goul" #goul/>
    <input type="number" [(ngModel)]="planeTicketPrice" placeholder="plane Ticket Price" #price/>
    <input type="datetime" [(ngModel)]="dateTime" placeholder="dateTime" #dateTime/>
    <input type="number" [(ngModel)]="numberPlane" placeholder="number Plane" #numberPlane/>

    <!-- <button *ngIf=" name!='' && source!='' && goul!='' && price!=0 && dateTime!=null  && numberPlane!=0 && planeTicketPrice!=0"      (click)="addNewCard()" >Add New Card planeTicketPrice</button> -->

    <button   (click)="addNewCard()" >Add New Card </button>
</div>

<!-- passengerName:'aaaa',
  source:'israel',
  goul: 'USA',
  planeTicketPrice:1550,
  dateTime:'date: 04/03/2021 time: 00:33',
  numberPlane:655
 -->